@model WeedAngel.Models.ViewModel.DoctorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDoctor</title>
    <link href="~/content/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/content/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/content/proper_theme/css/style.css" rel="stylesheet" media="screen">
    <link href="~/content/proper_theme/js/colorbox/colorbox.css" rel="stylesheet" media="screen">
    <!-- FONTAWESOME STYLE -->
    <link rel="stylesheet" href="~/content/proper_theme/css/font/FortAwesome/css/font-awesome.css" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="proper_theme/css/font-awesome-ie7.min.css">
        <![endif]-->

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <link rel="shortcut icon" href="proper_theme/images/logo.png">
</head>
<body>
    <!-- Start Wrapper-->

    <!-- Start Wrapper-->
    <div id="wrapper">
        <!-- start breadcrumb -->
        <div id="breadcrumb-wrapper">
            <div class="container" style="width:1170px;">
                <div class="pull-left">Sunday, May 18 2013</div>
                <div class="pull-right">
                    <a href="login.html">Log In</a>
                    <a href="sing_up.html">Sign Up</a>
                </div>
            </div>
        </div>
        <!-- end breadcrumb -->
        <!-- start header-wrapper -->
        <div id="header-wrapper">
            <div class="container" style="width:1170px;">
                <div class="panel">
                    <div class="row-fluid">
                        <div class="span9 right-line">
                            <a class="brand" href="index.html">
                                <h1 class="font-caly">
                                    <img src="~/content/proper_theme/images/logo.png" width="40" alt="logo">
                                    Proper <small class="visible-desktop visible-tablet">Real Esatate Template</small></h1>
                            </a>
                        </div>
                        <div class="span3 ">
                            <div class="clearfix">
                                <div class="language_curency">Curency: <a href="#">$</a> | <a href="#">&euro;</a> &nbsp; lang: <a href="#">En</a> | <a href="#">Ina</a> | <a href="#">Jpn</a></div>
                                <form method="get" class="form-search">
                                    <div class="input-append">
                                        <input title="Keywords." class="search-query form-text input-block-level" placeholder="Search" type="text" name="">
                                        <button type="submit" class="btn"><i class="icon-search"></i></button>
                                    </div>
                                    <!-- /.input-append -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End header-wrapper -->
        <!-- start Navigation -->
       @* <div id="navigation">
            <div class="container" style="width:1170px;">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="brand visible-phone visible-tablet">Navbar</span>
                            <!--.nav-collapse -->
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="home_full_slider.html">Home Full Slider</a></li>
                                            <li><a href="home_carousel.html">Home Slider Carousel</a></li>
                                            <li><a href="index.html">Home With Map</a></li>
                                            <li><a href="home_simple.html">Home Simple</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Properties <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="properties_filter.html">Properties & Filter</a></li>
                                            <li><a href="properties_map.html">Properties & Map</a></li>
                                            <li><a href="properties_detail.html">Properties Detail</a></li>
                                        </ul>
                                        <li><a href="agents.html">Agents</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proper Pages<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about_us.html">About Us</a></li>
                                            <li><a href="galeries.html">Galeries</a></li>
                                            <li><a href="career.html">Career</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="error_page.html">Error Page</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="shortcode.html">Shortcodes</a></li>
                                            <li><a href="typograpy.html">Typograpy</a></li>
                                            <li><a href="grid_stystem.html">Grid System</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="news.html">News List</a></li>
                                            <li><a href="news_detail.html">News Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <a class="pull-right mylisting" href="upload_step1.html"><i class=" icon-folder-close-alt"></i>Upload Items</a>

                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- end Navigation -->
        <!-- start Content -->
        <div id="content">
            <!--    News Carousel-->
            <div class="news-carousel-wrapper">
                <dl id="news-carousel" class="news-carousel-style">
                    <dt><a href="#">News Link Here</a></dt>
                    <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    <dt><a href="#">Promo Link Here</a></dt>
                    <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                    <dt><a href="#">Another Link Here</a></dt>
                    <dd>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.</dd>
                </dl>
            </div>
            <!--    End News Carousel-->
            <!--    End News Carousel-->
            <div class="container">
                <div class="row">
                    <div id="main-content" class="span12" style="background-image: url(../content/proper_theme/images/pattern/diagonal-noise.png);">
                        <h1>Add New Doctor</h1>

                        
                       @using (Html.BeginForm("AddDoctor", "Properties", FormMethod.Post, new { enctype = "multipart/form-data" }))
                       {
                            <div style="margin: 0; padding: 0; display: inline">
                                <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="8PajVB4DR9bq56OTUtDmOaIdVSHkmBum6b7yKz6OZx8=">
                            </div>

                            <div class="row-fluid">
                                <div class="control-group span12">
                                    <label class="control-label" for="doctor_avatar">Avatar</label>

                                    <input class="span12" id="doctor_avatar" name="avtar" type="file" />
                                </div>
                            </div>


                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_name">Name</label>
                                   @* <input id="doctor_name" name="doctor[name]" required="required" size="30" type="text" />*@
                                  
                                    @Html.TextBoxFor(a => a.DoctorName, new {@id="doctor_name",@size="30",name="doctor[name]"})<br />
                                    @Html.ValidationMessageFor(a => a.DoctorName, "", new {@style="color:red"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_address_attributes_street">Street</label>
                                   @* <input id="doctor_address_attributes_street" name="doctor[address_attributes][street]" size="30" type="text" />*@
                                     @Html.TextBoxFor(a => a.Street, new {@id="doctor_address_attributes_street",@size="30",name="doctor[address_attributes][street]"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_address_attributes_city">City</label>
                                    @*<input id="doctor_address_attributes_city" name="doctor[address_attributes][city]" size="30" type="text" />*@
                                     @Html.TextBoxFor(a => a.City, new {@id="doctor_address_attributes_city",@size="30",name="doctor[address_attributes][city]"})
                                </div>
                            </div><br />
                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_address_attributes_state">State</label>
                                  @*  <input id="doctor_address_attributes_state" name="doctor[address_attributes][state]" size="30" type="text" />*@
                                     @Html.TextBoxFor(a => a.State, new {@id="doctor_address_attributes_state",@size="30",name="doctor[address_attributes][state]"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_address_attributes_zip_code">Zip code</label>
                                   @* <input id="doctor_address_attributes_zip_code" name="doctor[address_attributes][zip_code]" type="number" />*@
                                     @Html.TextBoxFor(a => a.ZipCode, new {@id="doctor_address_attributes_zip_code",@size="30",name="doctor[address_attributes][zip_code]"})<br />
                                    @Html.ValidationMessageFor(a => a.ZipCode,"", new {@style="color:red;"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_address_attributes_country">Country</label>
                                    @*<input id="doctor_address_attributes_country" name="doctor[address_attributes][country]" size="30" type="text" />*@
                                     @Html.TextBoxFor(a => a.Country, new {@id="doctor_address_attributes_country",@size="30",name="doctor[address_attributes][country]"})
                                </div>
                            </div><br />

                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_phone_number">Phone number</label>
                                    @*<input id="doctor_phone_number" name="doctor[phone_number]" size="30" type="tel" />*@
                                     @Html.TextBoxFor(a => a.MobileNo, new {@id="doctor_phone_number",@size="30",name="doctor[phone_number]"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_email">Email</label>
                                   @* <input id="doctor_email" name="doctor[email]" size="30" type="email" />*@
                                     @Html.ValidationMessageFor(a => a.Email, "", new {@style="color:red"})
                                     @Html.TextBoxFor(a => a.Email, new {@id="doctor_email",@size="30",name="doctor[email]"})
                                </div>
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_website">Website</label>
                                   @* <input id="doctor_website" name="doctor[website]" size="30" type="url" />*@
                                     @Html.TextBoxFor(a => a.Website, new {@id="doctor_website",@size="30",name="doctor[website]"})
                                </div>
                            </div><br />
                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_time_zone">Time zone</label>
                                    <select id="doctor_time_zone" name="TimeZone">
                                        <option value=""></option>
                                        <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                        <option value="Alaska">(GMT-09:00) Alaska</option>
                                        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                        <option value="Arizona">(GMT-07:00) Arizona</option>
                                        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                        <option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                        <option value="" disabled="disabled">-------------</option>
                                        <option value="American Samoa">(GMT-11:00) American Samoa</option>
                                        <option value="International Date Line West">(GMT-11:00) International Date Line West</option>
                                        <option value="Midway Island">(GMT-11:00) Midway Island</option>
                                        <option value="Tijuana">(GMT-08:00) Tijuana</option>
                                        <option value="Chihuahua">(GMT-07:00) Chihuahua</option>
                                        <option value="Mazatlan">(GMT-07:00) Mazatlan</option>
                                        <option value="Central America">(GMT-06:00) Central America</option>
                                        <option value="Guadalajara">(GMT-06:00) Guadalajara</option>
                                        <option value="Mexico City">(GMT-06:00) Mexico City</option>
                                        <option value="Monterrey">(GMT-06:00) Monterrey</option>
                                        <option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
                                        <option value="Bogota">(GMT-05:00) Bogota</option>
                                        <option value="Lima">(GMT-05:00) Lima</option>
                                        <option value="Quito">(GMT-05:00) Quito</option>
                                        <option value="Caracas">(GMT-04:30) Caracas</option>
                                        <option value="Atlantic Time (Canada)">(GMT-04:00) Atlantic Time (Canada)</option>
                                        <option value="Georgetown">(GMT-04:00) Georgetown</option>
                                        <option value="La Paz">(GMT-04:00) La Paz</option>
                                        <option value="Santiago">(GMT-04:00) Santiago</option>
                                        <option value="Newfoundland">(GMT-03:30) Newfoundland</option>
                                        <option value="Brasilia">(GMT-03:00) Brasilia</option>
                                        <option value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
                                        <option value="Greenland">(GMT-03:00) Greenland</option>
                                        <option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
                                        <option value="Azores">(GMT-01:00) Azores</option>
                                        <option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
                                        <option value="Casablanca">(GMT+00:00) Casablanca</option>
                                        <option value="Dublin">(GMT+00:00) Dublin</option>
                                        <option value="Edinburgh">(GMT+00:00) Edinburgh</option>
                                        <option value="Lisbon">(GMT+00:00) Lisbon</option>
                                        <option value="London">(GMT+00:00) London</option>
                                        <option value="Monrovia">(GMT+00:00) Monrovia</option>
                                        <option value="UTC">(GMT+00:00) UTC</option>
                                        <option value="Amsterdam">(GMT+01:00) Amsterdam</option>
                                        <option value="Belgrade">(GMT+01:00) Belgrade</option>
                                        <option value="Berlin">(GMT+01:00) Berlin</option>
                                        <option value="Bern">(GMT+01:00) Bern</option>
                                        <option value="Bratislava">(GMT+01:00) Bratislava</option>
                                        <option value="Brussels">(GMT+01:00) Brussels</option>
                                        <option value="Budapest">(GMT+01:00) Budapest</option>
                                        <option value="Copenhagen">(GMT+01:00) Copenhagen</option>
                                        <option value="Ljubljana">(GMT+01:00) Ljubljana</option>
                                        <option value="Madrid">(GMT+01:00) Madrid</option>
                                        <option value="Paris">(GMT+01:00) Paris</option>
                                        <option value="Prague">(GMT+01:00) Prague</option>
                                        <option value="Rome">(GMT+01:00) Rome</option>
                                        <option value="Sarajevo">(GMT+01:00) Sarajevo</option>
                                        <option value="Skopje">(GMT+01:00) Skopje</option>
                                        <option value="Stockholm">(GMT+01:00) Stockholm</option>
                                        <option value="Vienna">(GMT+01:00) Vienna</option>
                                        <option value="Warsaw">(GMT+01:00) Warsaw</option>
                                        <option value="West Central Africa">(GMT+01:00) West Central Africa</option>
                                        <option value="Zagreb">(GMT+01:00) Zagreb</option>
                                        <option value="Athens">(GMT+02:00) Athens</option>
                                        <option value="Bucharest">(GMT+02:00) Bucharest</option>
                                        <option value="Cairo">(GMT+02:00) Cairo</option>
                                        <option value="Harare">(GMT+02:00) Harare</option>
                                        <option value="Helsinki">(GMT+02:00) Helsinki</option>
                                        <option value="Istanbul">(GMT+02:00) Istanbul</option>
                                        <option value="Jerusalem">(GMT+02:00) Jerusalem</option>
                                        <option value="Kyiv">(GMT+02:00) Kyiv</option>
                                        <option value="Pretoria">(GMT+02:00) Pretoria</option>
                                        <option value="Riga">(GMT+02:00) Riga</option>
                                        <option value="Sofia">(GMT+02:00) Sofia</option>
                                        <option value="Tallinn">(GMT+02:00) Tallinn</option>
                                        <option value="Vilnius">(GMT+02:00) Vilnius</option>
                                        <option value="Baghdad">(GMT+03:00) Baghdad</option>
                                        <option value="Kuwait">(GMT+03:00) Kuwait</option>
                                        <option value="Minsk">(GMT+03:00) Minsk</option>
                                        <option value="Nairobi">(GMT+03:00) Nairobi</option>
                                        <option value="Riyadh">(GMT+03:00) Riyadh</option>
                                        <option value="Tehran">(GMT+03:30) Tehran</option>
                                        <option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
                                        <option value="Baku">(GMT+04:00) Baku</option>
                                        <option value="Moscow">(GMT+04:00) Moscow</option>
                                        <option value="Muscat">(GMT+04:00) Muscat</option>
                                        <option value="St. Petersburg">(GMT+04:00) St. Petersburg</option>
                                        <option value="Tbilisi">(GMT+04:00) Tbilisi</option>
                                        <option value="Volgograd">(GMT+04:00) Volgograd</option>
                                        <option value="Yerevan">(GMT+04:00) Yerevan</option>
                                        <option value="Kabul">(GMT+04:30) Kabul</option>
                                        <option value="Islamabad">(GMT+05:00) Islamabad</option>
                                        <option value="Karachi">(GMT+05:00) Karachi</option>
                                        <option value="Tashkent">(GMT+05:00) Tashkent</option>
                                        <option value="Chennai">(GMT+05:30) Chennai</option>
                                        <option value="Kolkata">(GMT+05:30) Kolkata</option>
                                        <option value="Mumbai">(GMT+05:30) Mumbai</option>
                                        <option value="New Delhi">(GMT+05:30) New Delhi</option>
                                        <option value="Sri Jayawardenepura">(GMT+05:30) Sri Jayawardenepura</option>
                                        <option value="Kathmandu">(GMT+05:45) Kathmandu</option>
                                        <option value="Almaty">(GMT+06:00) Almaty</option>
                                        <option value="Astana">(GMT+06:00) Astana</option>
                                        <option value="Dhaka">(GMT+06:00) Dhaka</option>
                                        <option value="Ekaterinburg">(GMT+06:00) Ekaterinburg</option>
                                        <option value="Rangoon">(GMT+06:30) Rangoon</option>
                                        <option value="Bangkok">(GMT+07:00) Bangkok</option>
                                        <option value="Hanoi">(GMT+07:00) Hanoi</option>
                                        <option value="Jakarta">(GMT+07:00) Jakarta</option>
                                        <option value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
                                        <option value="Beijing">(GMT+08:00) Beijing</option>
                                        <option value="Chongqing">(GMT+08:00) Chongqing</option>
                                        <option value="Hong Kong">(GMT+08:00) Hong Kong</option>
                                        <option value="Krasnoyarsk">(GMT+08:00) Krasnoyarsk</option>
                                        <option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
                                        <option value="Perth">(GMT+08:00) Perth</option>
                                        <option value="Singapore">(GMT+08:00) Singapore</option>
                                        <option value="Taipei">(GMT+08:00) Taipei</option>
                                        <option value="Ulaan Bataar">(GMT+08:00) Ulaan Bataar</option>
                                        <option value="Urumqi">(GMT+08:00) Urumqi</option>
                                        <option value="Irkutsk">(GMT+09:00) Irkutsk</option>
                                        <option value="Osaka">(GMT+09:00) Osaka</option>
                                        <option value="Sapporo">(GMT+09:00) Sapporo</option>
                                        <option value="Seoul">(GMT+09:00) Seoul</option>
                                        <option value="Tokyo">(GMT+09:00) Tokyo</option>
                                        <option value="Adelaide">(GMT+09:30) Adelaide</option>
                                        <option value="Darwin">(GMT+09:30) Darwin</option>
                                        <option value="Brisbane">
                                        (GMT+10:00) Brisbane/option>
                                        <option value="Canberra">(GMT+10:00) Canberra</option>
                                        <option value="Guam">(GMT+10:00) Guam</option>
                                        <option value="Hobart">(GMT+10:00) Hobart</option>
                                        <option value="Melbourne">(GMT+10:00) Melbourne</option>
                                        <option value="Port Moresby">(GMT+10:00) Port Moresby</option>
                                        <option value="Sydney">(GMT+10:00) Sydney</option>
                                        <option value="Yakutsk">(GMT+10:00) Yakutsk</option>
                                        <option value="New Caledonia">(GMT+11:00) New Caledonia</option>
                                        <option value="Vladivostok">(GMT+11:00) Vladivostok</option>
                                        <option value="Auckland">(GMT+12:00) Auckland</option>
                                        <option value="Fiji">(GMT+12:00) Fiji</option>
                                        <option value="Kamchatka">(GMT+12:00) Kamchatka</option>
                                        <option value="Magadan">(GMT+12:00) Magadan</option>
                                        <option value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
                                        <option value="Solomon Is.">(GMT+12:00) Solomon Is.</option>
                                        <option value="Wellington">(GMT+12:00) Wellington</option>
                                        <option value="Nuku&#x27;alofa">(GMT+13:00) Nuku&#x27;alofa</option>
                                        <option value="Samoa">(GMT+13:00) Samoa</option>
                                        <option value="Tokelau Is.">(GMT+13:00) Tokelau Is.</option>
                                    </select>
                                </div>
                            </div>

                           <br />

                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <label class="control-label" for="doctor_region_id">Region</label>
                                    <select id="doctor_region_id" name="Region">
                                        <optgroup label="Alabama">
                                            <option value="1">Alabama</option>
                                        </optgroup>
                                        <optgroup label="Alaska">
                                            <option value="283">Your Region</option>
                                        </optgroup>
                                        <optgroup label="Arizona">
                                            <option value="343">Arizona Other</option>
                                            <option value="345">East Phoenix</option>
                                            <option value="266">Flagstaff</option>
                                            <option value="263">Glendale</option>
                                            <option value="342">Greater Arizona</option>
                                            <option value="271">Havasu/Kingman/Bullhead City</option>
                                            <option value="267">Kingman/Bullhead City</option>
                                            <option value="262">Mesa</option>
                                            <option value="259">Phoenix</option>
                                            <option value="268">Prescott</option>
                                            <option value="260">Scottsdale</option>
                                            <option value="261">Tempe</option>
                                            <option value="269">Tucson</option>
                                            <option value="344">West Phoenix</option>
                                            <option value="270">Yuma</option>
                                        </optgroup>
                                        <optgroup label="Arkansas">
                                            <option value="4">Arkansas</option>
                                        </optgroup>
                                        <optgroup label="California">
                                            <option value="275">29 Palms, Yucca / Morongo Valley</option>
                                            <option value="86">Alameda County - Hayward/Tri-Valley</option>
                                            <option value="204">Alhambra</option>
                                            <option value="287">Aliso Viejo/Laguna Beach</option>
                                            <option value="148">Anaheim</option>
                                            <option value="231">Antelope Valley</option>
                                            <option value="82">Bakersfield</option>
                                            <option value="314">Barstow/Needles</option>
                                            <option value="324">Bay Area</option>
                                            <option value="123">Beach Cities</option>
                                            <option value="165">Beaumont</option>
                                            <option value="85">Berkeley</option>
                                            <option value="279">Big Bear</option>
                                            <option value="129">Bloomington/Rialto/Colton</option>
                                            <option value="202">Brea  and La Habra</option>
                                            <option value="116">Camarillo</option>
                                            <option value="61">Canoga Park</option>
                                            <option value="78">Carson</option>
                                            <option value="329">Central Coast</option>
                                            <option value="167">Central Sacremento</option>
                                            <option value="145">Central San Diego</option>
                                            <option value="132">Central Valley</option>
                                            <option value="103">Chatsworth</option>
                                            <option value="159">Chico</option>
                                            <option value="290">Chino</option>
                                            <option value="198">Clairemont Kearny</option>
                                            <option value="351">Claremont</option>
                                            <option value="298">Copy of Orange County</option>
                                            <option value="338">Corona</option>
                                            <option value="81">Corona/Norco</option>
                                            <option value="337">Costa Mesa/Huntington Beach</option>
                                            <option value="150">Dana Point / San Clemente</option>
                                            <option value="117">Downtown / Central LA</option>
                                            <option value="126">Downtown San Diego</option>
                                            <option value="135">East Bay</option>
                                            <option value="118">East LA</option>
                                            <option value="339">East Los Angeles</option>
                                            <option value="144">East San Diego</option>
                                            <option value="295">El Cajon</option>
                                            <option value="93">Encino</option>
                                            <option value="97">Fresno</option>
                                            <option value="90">Gardena</option>
                                            <option value="206">Garden Grove</option>
                                            <option value="210">Glendale / Pasadena</option>
                                            <option value="63">Granada Hills</option>
                                            <option value="256">Hemet/San Jacinto</option>
                                            <option value="180">Hesperia</option>
                                            <option value="64">Hollywood</option>
                                            <option value="100">Humboldt</option>
                                            <option value="353">Huntington Beach</option>
                                            <option value="196">Huntington Harbor</option>
                                            <option value="219">Imperial County</option>
                                            <option value="91">Inglewood</option>
                                            <option value="166">Irvine  and Tustin</option>
                                            <option value="178">Laguna Beach</option>
                                            <option value="183">Laguna Hills</option>
                                            <option value="288">Lake Arrowhead</option>
                                            <option value="112">Lake County</option>
                                            <option value="185">Lake Elsinore</option>
                                            <option value="111">Lake Tahoe Consultants</option>
                                            <option value="106">La Puente/El Monte/SGV</option>
                                            <option value="170">LAX/Inglewood</option>
                                            <option value="328">Long Beach/Carson</option>
                                            <option value="54">Los Angeles</option>
                                            <option value="87">Marin</option>
                                            <option value="114">Mendocino</option>
                                            <option value="299">MidTown/Culver City</option>
                                            <option value="249">Mira Loma/Rubidoux</option>
                                            <option value="330">Modesto/Stockton</option>
                                            <option value="254">Monterey County</option>
                                            <option value="303">Moreno Valley</option>
                                            <option value="333">Moreno Valley / Perris CA Doctors</option>
                                            <option value="134">North Bay</option>
                                            <option value="124">North Coast</option>
                                            <option value="336">North Coast Doctors</option>
                                            <option value="340">Northglenn</option>
                                            <option value="98">North Hills</option>
                                            <option value="146">North Hollywood</option>
                                            <option value="313">North Inland</option>
                                            <option value="187">North Long Beach</option>
                                            <option value="120">North OC</option>
                                            <option value="89">Northridge</option>
                                            <option value="212">Northridge/Chatsworth</option>
                                            <option value="192">North San Fernando Valley</option>
                                            <option value="72">Oakland</option>
                                            <option value="127">Ocean Beach</option>
                                            <option value="309">Oceanside Carlsbad</option>
                                            <option value="327">OLD Temecula/Murrieta</option>
                                            <option value="55">Orange County</option>
                                            <option value="323">Other Northern Cal</option>
                                            <option value="143">Pacific Beach</option>
                                            <option value="66">Pacific Palisades to Malibu</option>
                                            <option value="334">Palmdale/Antelope Valley</option>
                                            <option value="68">Palm Springs</option>
                                            <option value="105">Panorama City</option>
                                            <option value="280">Perris/Hemet</option>
                                            <option value="230">Pomona/Montclair</option>
                                            <option value="252">Rancho Cucamonga/Fontana</option>
                                            <option value="291">Rancho Santa Margarita</option>
                                            <option value="240">Redding/Mt. Shasta</option>
                                            <option value="247">Redlands/Mentone</option>
                                            <option value="76">Reseda</option>
                                            <option value="58">Riverside</option>
                                            <option value="84">Sacramento</option>
                                            <option value="293">Sacramento West</option>
                                            <option value="163">San Bernardino</option>
                                            <option value="176">San Clemente</option>
                                            <option value="60">San Diego</option>
                                            <option value="67">San Fernando</option>
                                            <option value="325">San Fernando Valley</option>
                                            <option value="56">San Francisco</option>
                                            <option value="119">San Gabriel Valley</option>
                                            <option value="88">San Jose</option>
                                            <option value="177">San Juan Capistrano</option>
                                            <option value="207">San Luis Obispo</option>
                                            <option value="257">San Marcos</option>
                                            <option value="79">San Pedro-Lomita</option>
                                            <option value="122">Santa Ana</option>
                                            <option value="62">Santa Barbara</option>
                                            <option value="312">Santa Clarita</option>
                                            <option value="115">Santa Cruz County</option>
                                            <option value="95">Santa Fe Springs</option>
                                            <option value="83">Santa Monica</option>
                                            <option value="92">Sherman Oaks/Studio City</option>
                                            <option value="113">Sonoma/Napa</option>
                                            <option value="136">South Bay</option>
                                            <option value="201">South Bay SD</option>
                                            <option value="282">South Contra Costa</option>
                                            <option value="94">South Gate/Bellflower/Artesia Dispensaries</option>
                                            <option value="347">South LA</option>
                                            <option value="65">South Long Beach</option>
                                            <option value="121">South OC</option>
                                            <option value="125">South San Diego</option>
                                            <option value="250">South San Jose/Campbell</option>
                                            <option value="133">Stockton</option>
                                            <option value="74">Studio City</option>
                                            <option value="73">Sun Valley</option>
                                            <option value="104">Sylmar</option>
                                            <option value="213">Sylmar/Pacoima/Panorama</option>
                                            <option value="75">Tarzana</option>
                                            <option value="128">Temecula / Murrieta</option>
                                            <option value="168">The Foothills Sacramento</option>
                                            <option value="277">The Peninsula</option>
                                            <option value="301">Thousand Palms/Palm Desert Dispensaries</option>
                                            <option value="101">Tujunga/Sunland</option>
                                            <option value="300">Upland</option>
                                            <option value="107">Vallejo</option>
                                            <option value="77">Valley Village</option>
                                            <option value="211">Van Nuys</option>
                                            <option value="70">Venice/Marina Del Rey</option>
                                            <option value="326">Venice/Santa Monica</option>
                                            <option value="130">Ventura</option>
                                            <option value="289">Victorville/High Desert</option>
                                            <option value="284">Visalia</option>
                                            <option value="109">WeedMaps Blog</option>
                                            <option value="188">West Hollywood</option>
                                            <option value="108">West Los Angeles</option>
                                            <option value="232">Westminster / Sunset Beach Marijuana</option>
                                            <option value="71">Woodland Hills</option>
                                            <option value="214">Woodland Hills/Tarzana/Canoga</option>
                                            <option value="182">Yorba Linda</option>
                                            <option value="164">Yucaipa/Beaumont</option>
                                            <option value="315">Yucca Valley</option>
                                        </optgroup>
                                        <optgroup label="Canada">
                                            <option value="253">Vancouver / Victoria</option>
                                        </optgroup>
                                        <optgroup label="Colorado">
                                            <option value="203">Aspen Colorado</option>
                                            <option value="255">Aurora East Denver</option>
                                            <option value="137">Boulder</option>
                                            <option value="228">British Columbia</option>
                                            <option value="205">Colorado North and East</option>
                                            <option value="138">Colorado Springs</option>
                                            <option value="139">Denver</option>
                                            <option value="151">Denver Central</option>
                                            <option value="308">Denver Highlands</option>
                                            <option value="154">Denver North</option>
                                            <option value="171">East Denver</option>
                                            <option value="248">Eastern Slope</option>
                                            <option value="322">Front Range</option>
                                            <option value="174">Ft Collins</option>
                                            <option value="162">Lakewood</option>
                                            <option value="175">Littleton</option>
                                            <option value="186">Littleton/Engelwood/DTC</option>
                                            <option value="160">Longmont</option>
                                            <option value="229">North West Colorado</option>
                                            <option value="173">Pueblo</option>
                                            <option value="226">Quebec</option>
                                            <option value="172">South East Denver</option>
                                            <option value="140">South West Colorado</option>
                                            <option value="179">Summit / Eagle County</option>
                                        </optgroup>
                                        <optgroup label="Connecticut">
                                            <option value="7">Connecticut</option>
                                        </optgroup>
                                        <optgroup label="Delaware">
                                            <option value="8">Delaware</option>
                                        </optgroup>
                                        <optgroup label="District of Columbia">
                                            <option value="53">District of Columbia</option>
                                        </optgroup>
                                        <optgroup label="Florida">
                                            <option value="9">Florida</option>
                                        </optgroup>
                                        <optgroup label="Georgia">
                                            <option value="10">Georgia</option>
                                        </optgroup>
                                        <optgroup label="Hawaii">
                                            <option value="11">Hawaii</option>
                                        </optgroup>
                                        <optgroup label="Idaho">
                                            <option value="15">Idaho</option>
                                        </optgroup>
                                        <optgroup label="Illinois">
                                            <option value="12">Illinois</option>
                                        </optgroup>
                                        <optgroup label="Indiana">
                                            <option value="13">Indiana</option>
                                        </optgroup>
                                        <optgroup label="Iowa">
                                            <option value="14">Iowa</option>
                                        </optgroup>
                                        <optgroup label="Kansas">
                                            <option value="16">Kansas</option>
                                        </optgroup>
                                        <optgroup label="Kentucky">
                                            <option value="17">Kentucky</option>
                                        </optgroup>
                                        <optgroup label="Louisiana">
                                            <option value="18">Louisiana</option>
                                        </optgroup>
                                        <optgroup label="Maine">
                                            <option value="19">Maine</option>
                                        </optgroup>
                                        <optgroup label="Maryland">
                                            <option value="24">Maryland</option>
                                        </optgroup>
                                        <optgroup label="Massachusetts">
                                            <option value="26">Massachusetts</option>
                                        </optgroup>
                                        <optgroup label="Michigan">
                                            <option value="237">Ann Arbor</option>
                                            <option value="320">Benton Harbor / Holland</option>
                                            <option value="286">Bloomfield Township</option>
                                            <option value="233">Detroit</option>
                                            <option value="317">Downriver</option>
                                            <option value="281">Flint</option>
                                            <option value="161">Grand Junction</option>
                                            <option value="318">Jackson</option>
                                            <option value="235">Lansing/Jackson</option>
                                            <option value="236">Mid Michigan</option>
                                            <option value="184">Northern Michigan/Traverse City</option>
                                            <option value="331">Other Michigan</option>
                                            <option value="239">SW Michigan</option>
                                            <option value="319">Upper Peninsula</option>
                                            <option value="234">Waterford</option>
                                            <option value="316">Ypsilanti</option>
                                        </optgroup>
                                        <optgroup label="Minnesota">
                                            <option value="20">Minnesota</option>
                                        </optgroup>
                                        <optgroup label="Mississippi">
                                            <option value="23">Mississippi</option>
                                        </optgroup>
                                        <optgroup label="Missouri">
                                            <option value="25">Missouri</option>
                                        </optgroup>
                                        <optgroup label="Montana">
                                            <option value="22">Montana</option>
                                        </optgroup>
                                        <optgroup label="Nebraska">
                                            <option value="27">Nebraska</option>
                                        </optgroup>
                                        <optgroup label="Netherlands">
                                            <option value="152">Amsterdam</option>
                                            <option value="341">Haarlem</option>
                                        </optgroup>
                                        <optgroup label="Nevada">
                                            <option value="200">East Las Vegas Consultants</option>
                                            <option value="305">Las Vegas</option>
                                            <option value="217">North Las Vegas</option>
                                            <option value="352">North Las Vegas - DELETE</option>
                                            <option value="199">Reno Consultants</option>
                                            <option value="218">South Las Vegas Cannbis Clubs</option>
                                            <option value="215">West Las Vegas Consultants</option>
                                        </optgroup>
                                        <optgroup label="New Hampshire">
                                            <option value="30">New Hampshire</option>
                                        </optgroup>
                                        <optgroup label="New Jersey">
                                            <option value="29">New Jersey</option>
                                        </optgroup>
                                        <optgroup label="New Mexico">
                                            <option value="31">New Mexico</option>
                                        </optgroup>
                                        <optgroup label="New York">
                                            <option value="32">New York</option>
                                        </optgroup>
                                        <optgroup label="North Carolina">
                                            <option value="33">North Carolina</option>
                                        </optgroup>
                                        <optgroup label="North Dakota">
                                            <option value="34">North Dakota</option>
                                        </optgroup>
                                        <optgroup label="Ohio">
                                            <option value="35">Ohio</option>
                                        </optgroup>
                                        <optgroup label="Oklahoma">
                                            <option value="36">Oklahoma</option>
                                        </optgroup>
                                        <optgroup label="Oregon">
                                            <option value="348">East Portland</option>
                                            <option value="350">Other Oregon</option>
                                            <option value="349">West Portland</option>
                                        </optgroup>
                                        <optgroup label="Pennsylvania">
                                            <option value="38">Pennsylvania</option>
                                        </optgroup>
                                        <optgroup label="Rhode Island">
                                            <option value="222">Rhode Island Cannbis Clubs</option>
                                        </optgroup>
                                        <optgroup label="South Carolina">
                                            <option value="40">South Carolina</option>
                                        </optgroup>
                                        <optgroup label="South Dakota">
                                            <option value="41">South Dakota</option>
                                        </optgroup>
                                        <optgroup label="Tennessee">
                                            <option value="42">Tennessee</option>
                                        </optgroup>
                                        <optgroup label="Texas">
                                            <option value="43">Texas</option>
                                        </optgroup>
                                        <optgroup label="Utah">
                                            <option value="44">Utah</option>
                                        </optgroup>
                                        <optgroup label="Vermont">
                                            <option value="45">Vermont</option>
                                        </optgroup>
                                        <optgroup label="Virginia">
                                            <option value="46">Virginia</option>
                                        </optgroup>
                                        <optgroup label="Washington">
                                            <option value="141">Bellingham</option>
                                            <option value="335">Bellingham/Mt. Vernon</option>
                                            <option value="311">Eastside Seattle</option>
                                            <option value="306">Everett/Snohomish</option>
                                            <option value="296">Kent</option>
                                            <option value="346">Kitsap County</option>
                                            <option value="302">North Tacoma/Federal Way</option>
                                            <option value="294">N Tacoma/Federal Way</option>
                                            <option value="244">Olympia/Thurston County</option>
                                            <option value="276">Olympic Peninsula</option>
                                            <option value="227">Ontario</option>
                                            <option value="274">Pullman</option>
                                            <option value="321">Seattle</option>
                                            <option value="310">Seattle Central</option>
                                            <option value="285">Seattle/North Dispensaries</option>
                                            <option value="242">Seattle/South</option>
                                            <option value="245">Spokane/Eastern Washington</option>
                                            <option value="332">Tacoma/Olympia</option>
                                            <option value="243">Tacoma/Pierce County</option>
                                            <option value="272">Vancouver/SW Washington</option>
                                            <option value="307">Vancouver Washington</option>
                                        </optgroup>
                                        <optgroup label="West Virginia">
                                            <option value="48">West Virginia</option>
                                        </optgroup>
                                        <optgroup label="Wisconsin">
                                            <option value="49">Wisconsin</option>
                                        </optgroup>
                                        <optgroup label="Wyoming">
                                            <option value="50">Wyoming</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="checkbox" for="doctor_detail_attributes_has_handicap_access">
                                        <input name="doctor[detail_attributes][has_handicap_access]" type="hidden" value="0" />@*<input id="doctor_detail_attributes_has_handicap_access" name="doctor[detail_attributes][has_handicap_access]" type="checkbox" value="1" />*@
                                        @Html.CheckBoxFor(a => a.IsHandicapAccess, new {@id="doctor_detail_attributes_has_handicap_access",@name="doctor[detail_attributes][has_handicap_access]" })
                                        Handicap Access
                                    </label>
                                </div>
                                <div class="control-group span3">
                                    <label class="checkbox" for="doctor_detail_attributes_has_security_guard">
                                        <input name="doctor[detail_attributes][has_security_guard]" type="hidden" value="0" />@*<input id="doctor_detail_attributes_has_security_guard" name="doctor[detail_attributes][has_security_guard]" type="checkbox" value="1" />*@
                                         @Html.CheckBoxFor(a => a.IsSecurityGuard, new {@id="doctor_detail_attributes_has_security_guard",@name="doctor[detail_attributes][has_security_guard]" })
                                        Security Guard
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="control-group span3">
                                    <label class="checkbox" for="doctor_detail_attributes_eighteen_plus">
                                        <input name="doctor[detail_attributes][eighteen_plus]" type="hidden" value="0" />@*<input id="doctor_detail_attributes_eighteen_plus" name="doctor[detail_attributes][eighteen_plus]" type="checkbox" value="1" />*@
                                         @Html.CheckBoxFor(a => a.Is18plus, new {@id="doctor_detail_attributes_eighteen_plus",@name="doctor[detail_attributes][eighteen_plus]" })
                                        18+
                                    </label>
                                </div>
                                <div class="control-group span3">
                                    <label class="checkbox" for="doctor_detail_attributes_twenty_one_plus">
                                        <input name="doctor[detail_attributes][twenty_one_plus]" type="hidden" value="0" />@*<input id="doctor_detail_attributes_twenty_one_plus" name="doctor[detail_attributes][twenty_one_plus]" type="checkbox" value="1" />*@
                                         @Html.CheckBoxFor(a => a.Is21plus, new {@id="doctor_detail_attributes_twenty_one_plus",@name="doctor[detail_attributes][twenty_one_plus]" })
                                        21+
                                    </label>
                                </div>
                                <div class="control-group span3">
                                    <label class="checkbox" for="doctor_detail_attributes_accepts_credit_cards">
                                        <input name="doctor[detail_attributes][accepts_credit_cards]" type="hidden" value="0" />@*<input id="doctor_detail_attributes_accepts_credit_cards" name="doctor[detail_attributes][accepts_credit_cards]" type="checkbox" value="1" />*@
                                         @Html.CheckBoxFor(a => a.IsAcceptCreditCard, new {@id="doctor_detail_attributes_accepts_credit_cards",@name="doctor[detail_attributes][accepts_credit_cards]" })
                                        Accepts Credit Cards
                                    </label>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="control-group span12">
                                    <label class="control-label" for="doctor_detail_attributes_intro_body">Intro body</label>
                                   @* <textarea class="span12" cols="40" id="doctor_detail_attributes_intro_body" name="doctor[detail_attributes][intro_body]" rows="5">
                                    </textarea>*@
                                     @Html.TextAreaFor(a => a.IntroBody, new {@id="doctor_detail_attributes_intro_body",@class="span12",@name="doctor[detail_attributes][intro_body]",@rows="5",@cols="40" })
                                     @Html.ValidationMessageFor(a => a.IntroBody, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="control-group span12">
                                    <label class="control-label" for="doctor_detail_attributes_body">Body</label>
                                  @*  <textarea class="span12" cols="40" id="doctor_detail_attributes_body" name="doctor[detail_attributes][body]" rows="15">
                                        </textarea>*@
                                    @Html.TextAreaFor(a => a.Body, new {@id="doctor_detail_attributes_body",@class="span12",@name="doctor[detail_attributes][body]",@rows="15",@cols="40" })
                                    @Html.ValidationMessageFor(a => a.Body, "", new { @style = "color:red" })
                                </div>
                            </div>





                            <div class="form-actions" style="background-image: url(../content/proper_theme/images/pattern/diagonal-noise.png);">
                                <input class="btn btn-primary" name="commit" type="submit" value="Create Doctor" style="margin-left: -19px;">
                            </div>
                     }


                    </div>

                </div>

            </div>
        </div>




        <!-- start Footer -->
        <div id="footer-wrapper">
            <!-- start footer-ribon -->
            <div class="container">
                <div class="footer-ribon">
                    <span>Get in Touch</span>
                </div>
            </div>
            <!-- end footer-ribon -->
            <div id="footer-top">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="panel">
                                <h4><i class="icon-time"></i>Contact</h4>
                                <p>Nullam justo nunc, dignissim at convallis posuere, sodales eu orci.</p>
                                <ul class="unstyled">
                                    <li><i class="icon-home"></i>123, Los Angeles, CA, 54321</li>
                                    <li><i class="icon-phone"></i>+239-3823-3434</li>
                                    <li><i class="icon-envelope"></i>someone@company.com</li>
                                </ul>


                                <a href="#" class="btn-proper btn"><i class="icon-facebook"></i></a>
                                <a href="#" class="btn-proper btn"><i class="icon-twitter"></i></a>
                                <a href="#" class="btn-proper btn"><i class="icon-google-plus"></i></a>
                                <a href="#" class="btn-proper btn"><i class="icon-pinterest"></i></a>


                            </div>
                        </div>
                        <div class="span3">
                            <div class="panel">
                                <h4><i class="icon-suitcase"></i>Pages Link</h4>
                                <ul class="unstyled list-link">
                                    <li><a href="#">Condimentum - Condimentum gravida</a></li>
                                    <li><a href="#">Etiam at - Condimentum gravida</a></li>
                                    <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                                    <li><a href="#">Vivamus - Condimentum gravida</a></li>
                                    <li><a href="#">Pellentesque - Condimentum gravida</a></li>
                                    <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="panel">
                                <h4><i class="icon-screenshot"></i>Subscribe</h4>

                                <form>
                                    <label>Full Name</label>
                                    <input type="text" name="" value="" placeholder="Enter Your Full Name" required="" />
                                    <label>Email</label>
                                    <input type="email" name="" value="" placeholder="Enter Your Email" required="" />
                                    <div>
                                        <button class="btn-proper btn">Send</button>
                                    </div>



                                </form>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="panel">
                                <h4><i class="icon-trophy"></i>Recent News</h4>
                                <ul class="unstyled list-link">
                                    <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                                    <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                                    <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                                    <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                                    <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="back-to-top" class="text-center"><a href="#"><i class="icon-angle-up"></i></a></div>
            </div>
            <div id="footer-twit" class="text-center">
                <div class="container">
                    <div class="panel">
                        <p><i class="icon-twitter icon-4x"></i><i class="icon-quote-left qoute"></i>Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet ... <i class="icon-quote-right qoute"></i></p>
                    </div>
                </div>
            </div>
            <div id="footer" class="text-center">
                <div class="panel">
                    <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="about_us.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contact.html">Contact Us</a> | <a href="career.html">Career</a></p>
                </div>
            </div>
        </div>
        <!-- end  Footer -->
    </div>
    <!-- End Wrapper-->
    <!-- Just For Demo You can Remove it if unnecessary-->
    @*<a href="custum-bg.html" class="ajax-demo"><i class="  icon-cogs"></i></a>*@

    <!-- Defaut Js Bootsrap
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/content/assets/js/jquery.js"></script>
    <script src="~/content/assets/js/bootstrap-transition.js"></script>
    <script src="~/content/assets/js/bootstrap-alert.js"></script>
    <script src="~/content/assets/js/bootstrap-modal.js"></script>
    <script src="~/content/assets/js/bootstrap-dropdown.js"></script>
    <script src="~/content/assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/content/assets/js/bootstrap-tab.js"></script>
    <script src="~/content/assets/js/bootstrap-tooltip.js"></script>
    <script src="~/content/assets/js/bootstrap-popover.js"></script>
    <script src="~/content/assets/js/bootstrap-button.js"></script>
    <script src="~/content/assets/js/bootstrap-collapse.js"></script>
    <script src="~/content/assets/js/bootstrap-carousel.js"></script>
    <script src="~/content/assets/js/bootstrap-typeahead.js"></script>
       <script src="~/content/assets/js/jquery.validate.min.js"></script>
    <script src="~/content/assets/js/jquery.validate.unobtrusive.min.js"></script>

    <!-- Grid -->
    <script src="~/content/proper_theme/js/Grid-A-Licious-master/jquery.grid-a-licious.min.js"></script>

    <!-- Slider -->
    <script src="~/content/proper_theme/js/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1-packed.js"></script>
    <!-- optionally include helper plugins carouFredSel -->
    <script src="~/content/proper_theme/js/carouFredSel-6.2.1/helper-plugins/jquery.mousewheel.min.js"></script>
    <script src="~/content/proper_theme/js/carouFredSel-6.2.1/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script src="~/content/proper_theme/js/carouFredSel-6.2.1/helper-plugins/jquery.transit.min.js"></script>
    <script src="~/content/proper_theme/js/carouFredSel-6.2.1/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- JS GMAP3  -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src='~/content/proper_theme/js/gmap3/gmap3.min.js'></script>

    <script src="~/content/proper_theme/js/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/content/proper_theme/js/proper.js"></script>


</body>
</html>

